<footer>
  <div>
    <div>
      <p class="copy">&copy; SandwichClub 2023. All rights reserved.</p>
    </div>
    <div class="adress">
      <p>Hittepågränd 99</p>
      <p>123 45 Mackköping</p>
      <p>Mackistan</p>
    </div>
  </div>
</footer>
</body>
</html>