<%- include ("head") %>
<main class="row">
  <div class="col">
    <h2><%= heading %></h2>
    <p class="desc-text"><%= description %></p>
    <img src="/assets/sando_1.png" alt="A sandwich" />
    <img class="offset" src="/assets/sando_2.png" alt="Another sandwich" />
  </div>
  <div class="col top-space">
    <img src="/assets/sando_4.png" alt="Another sandwich" />
    <img class="offset" src="/assets/sando_3.png" alt="The third sandwich" />
    <img src="/assets/sando_5.png" alt="A sandwich" />
  </div>
</main>
<%- include ("footer") %>
